:root {
  --big-size: 4rem;
  --normal-size: 3rem;
  --blue: #5BA8FA;
  --border-blue:#4B6F95;
  --bg-blue: #1B80CE;
  --pink: #FF94F2;
  --border-pink: #BA6CB1;
  --bg-pink: #DB7FD1;
}

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding:0;
	background-color: var(--pink);
}

body *{
	max-width: 100.9vw !important;
}

input{
	font-size: var(--big-size) !important;
	text-align: center;
}

label{
	font-size: var(--big-size) !important;
	font-weight: bold !important;
	display:block;
}

.app-title{
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: var(--big-size);
}

.app-selector{
	border-bottom: 3px solid var(--border-pink);
	font-size: var(--normal-size);
	padding: 5% 0;
}

.app-selector:hover{
	background-color: var(--bg-pink);
	cursor: pointer;
}

.black-button{
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: var(--normal-size);
	border-radius: 0px;
	border: 1px solid black;
}