:root {
  --title-size: 4rem;
  --normal-size: 3rem;
}

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	background-color: #5BA8FA;
}

#app-title{
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: var(--title-size);
}

.app-selector{
	border-bottom: 3px solid #4B6F95;;
	font-size: var(--normal-size);
	padding: 5% 0;
}

.app-selector:hover{
	background-color: #1B80CE;
	cursor: pointer;
}

.back-button{
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: var(--normal-size);
	border-radius: 0px;
	border: 1px solid black;
}